.list-page-parent {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #272727;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .list-page {
    position: fixed;
    background-color: rgba(39,39,39,1);
    height: 100%;
    width: 320px;
    // border: 1px solid gray;

    // if screen width < 555px, apply this
    @media screen and (max-width: 555px) {
      width: 100%;
      border: none;
    }
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .top-bar {
      height: 11%;
      width: 100%;
      background: rgba(39,39,39,1);
      border-bottom-width: 0.0862vh;
      border-bottom-color: #4E4E4E;
      border-bottom-style: solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 3.47vw;

      .profile-button {
        position: absolute;
      }

      .title {
        text-align: center;
        color: rgba(255,255,255,1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        line-height: normal;

        .trip-name {
          font-family: Cera Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 2.46vh;
        }
        .trip-dest-dates {
          font-family: Cera Pro;
          font-style: normal;
          font-weight: medium;
          font-size: 1.48vh;
        }
        .place-count {
          display: flex;
          align-items: center;

          .icon {
            font-family: Ikono Mini L;
            font-style: normal;
            font-weight: 5;
            font-size: 1.48vh;
            margin-right: 0.62vh;
          }
          .text {
            font-family: Cera Pro;
            font-style: normal;
            font-weight: medium;
            font-size: 1.35vh;
          }
        }
      }
    }

    .trip-details {
      height: 16.75%;
      width: 100%;
      background: rgba(39,39,39,1);
      border-bottom-width: 0.0862vh;
      border-bottom-color: #4E4E4E;
      border-bottom-style: solid;
    }

    .place-container {
      display: flex;
      flex-direction: column;
      height: 61.61%;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
      max-width: 70vh;
    }

    .swipe-button-bottom {
      position: absolute;
      bottom: 0;
      height: 10.64%;
      width: 100%;

      background-color: #686868;
      border: none;

      font-family: "CeraPro-Bold";
      font-size: 3.69vh;
      line-height: 4.68vh;
      color: rgba(255, 255, 255, 1);
      text-transform: none;
      text-align: center;
      justify-content: center;
    }

    .swipe-button-bottom:active {
      background-color: #272727 !important;
      border-color: #272727 !important;
      color: #FFFFFF !important;
    }

    .swipe-button-bottom:hover {
      background-color: rgba(255,255,255,1) !important;
      border-color: rgba(255,255,255,1) !important;
      color: #272727 !important;
    }

    .swipe-button-bottom:focus {
      box-shadow: none !important;
    }

    .place-container-empty {
      height: 72.25%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        white-space: pre-wrap;
        text-align: center;
        font-family: "CeraPro-Bold";
        font-style: normal;
        font-size: 2.46vh;
        line-height: 3.08vh;
        color: rgba(255,255,255,1);

        margin-bottom: 5.49vh;
      }

      .swipe-button {
        background-color: rgba(255,255,255,1);
        border-color: rgba(112,112,112,1);
        border-width: 1px;
        border-style: solid;
        border-radius: 3.325vh;

        width: 31.77vh;
        height: 6.65vh;

        white-space: nowrap;
        text-align: center;
        font-family: "CeraPro-Bold";
        font-style: normal;
        font-weight: normal;
        font-size: 1.97vh;
        color: rgba(39,39,39,1);
      }

      .swipe-button:active {
        background-color: rgba(255,255,255,0.3) !important;
        border-color: rgba(255,255,255,0.3) !important;
      }
    }
  }
}
