.profile-banner {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: calc(14vh + 115px);
  border-bottom: 0.5px #555555 solid;

  .photos-container {
    height: calc(14vh + 30px);

    .cover-photo {
      position: absolute;
      height: 14vh;
      width: 100%;
    }

    .profile-and-button-container {
      position: absolute;
      height: 60px;
      top: calc(14vh - 30px);
      width: 100%;

      .profile-photo {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: relative;
        left: 6%;
        border: 1px rgba(255,255,255,1);
        background-color: #555555;
        z-index: 1;
        float:left;
        object-fit: cover;
        object-position: center;
      }

      .edit-button {
        text-align: center;
        vertical-align: middle;
        width: 80px;
        font-size: 8px;
        font-family: 'CeraPro-Regular';
        color: rgba(255,255,255,1);
        border: 0.5px rgba(255,255,255,1) solid;
        border-radius: 8px;
        bottom: 0px;
        position: absolute;
        height: 16px;
        left: calc(95% - 80px);
      }
    }
  }
  .details-container {
    display: block;
    color: rgba(255,255,255,1);
    margin-left: 6%;
    font-family: "CeraPro-Regular";
    

    .name {
      display: block;
      font-family: "CeraPro-Bold";
      font-size: 15px;
      margin-bottom: 0px;
    }
    .username {
      display: block;
      font-size: 11px;
    }
    .location {
      display: block;
      color: #8D8D8D;
      font-size: 10px;
    }
    .trip-count {
      display: block;
      color: #8D8D8D;
      font-size: 10px;
    }
  }
}