.trip.row {
  display: flex;
  flex-direction: row;
  background-color: #272727;
  width: 100%;
  height: 33.4%;
  margin: 0;
  padding: 0 9%;

  .trip-element {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .delete-button {
    font-family: Ikono Mini L;
    font-style: normal;
    font-weight: normal;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
  }

  .trip-img {
    width: 22%;
    margin-right: 5%;

    img {
      width: 100%;
      height: 100%;
      margin-left: 0 !important;
      max-width: 18vh;
      max-height: 18vh;
      border-radius: 50%;
    }
  }

  .trip-details {
    padding-left: 5%;
    width: 53.95%;
    height: 100%;
    border-bottom-width: 0.0862vh;
    border-bottom-color: #4E4E4E;
    border-bottom-style: solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;

    .trip-name {
      font-family: Cera Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 2.22vh;
    }
    .trip-dest {
      font-family: Cera Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 1.48vh;
    }
    .trip-dates {
      font-family: Cera Pro;
      font-style: normal;
      font-weight: medium;
      font-size: 1.23vh;
      line-height: normal;
    }
    .trip-members {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 1.11vh;

      .photos {
        display: flex;
        margin-right: 1.97vh;

        .member-photo {
          margin-right: -0.86vh;
          height: 2.7vh;
          width: 2.7vh;
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            overflow: hidden;
          }

          .icon-button.profile-button {
            height: 100%;
            width: 100%;
            pointer-events: none;

            span {
              font-size: 1.06vh;
            }
          }

          .icon-button.extra-members-photo {
            height: 100%;
            width: 100%;
            pointer-events: none;
            background-color: #FFFFFF;

            span {
              font-family: "CeraPro-Medium";
              font-style: normal;
              font-weight: normal;
              font-size: 1.48vh;
              color: #000000;
            }
          }
        }

      }
      .names {
        font-family: "CeraPro-Medium";
        font-style: normal;
        font-weight: normal;
        font-size: 1.23vh;
        line-height: 1.6vh;
        margin-top: -0.25vh;
      }
    }
  }

  .right-icon {
    color: white;
    margin-left: 0;
    margin-right: 0;
    margin-right: 0;
  }
}
